<section id="wrapper-join-signup">
    <div class="layout-signup">
        <section class="wrapper-header-signup">
            <div class="logo-signup">
                <img class="img-logo-signup" src="/assets/img/logo/logo-join.svg" />
            </div>
            <div class="header-login-link">
                <div class="signup-login-text">Already a user?</div>
                <div class="signup-login-button">
                    <button class="btn-primary btn-primary--login" type="button" routerLink="/login">Log in</button>
                </div>
            </div>
        </section>
        
        <main class="main-signup">
            <section class="wrapper-content-signup">
                <button type="button" routerLink="/login" class="back-btn" [disabled]="isSubmitting">
                    <img src="assets/img/navigation/arrow-alt.svg" alt="Back">
                </button>
                
                <h1 class="headline-signup">Sign up</h1>
                <div class="headline-stroke"></div>
                
                <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                    <div class="signup-form-scroll">
                        
                        <div class="form-cell">
                            <input id="name" type="text" formControlName="fullName" placeholder="Name" [class.signup-error]="signUpForm.controls.fullName.invalid && signUpForm.controls.fullName.touched">
                            <img src="assets/img/forms/person.svg" class="input-icon" />
                            <div class="form-error-placeholder">
                                @if (signUpForm.controls.fullName.invalid && signUpForm.controls.fullName.touched) {
                                    <p class="form-error">Please enter a first and last name.</p>
                                }
                            </div>
                        </div>

                        <div class="form-cell">
                            <input id="email" type="email" formControlName="email" placeholder="Email" [class.signup-error]="signUpForm.controls.email.invalid && signUpForm.controls.email.touched">
                            <img src="assets/img/forms/mail.svg" class="input-icon" />
                            <div class="form-error-placeholder">
                                @if (signUpForm.controls.email.hasError('emailExists') && signUpForm.controls.email.touched) {
                                    <p class="form-error">Email already exists.</p>
                                } @else if (signUpForm.controls.email.invalid && signUpForm.controls.email.touched) {
                                    <p class="form-error">Valid email is required.</p>
                                }
                            </div>
                        </div>

                        <div class="form-cell">
                            <input formControlName="password" [type]="showPassword ? 'text' : 'password'" placeholder="Password" [class.signup-error]="signUpForm.controls.password.invalid && signUpForm.controls.password.touched">
                            @if (!signUpForm.controls.password.value) {
                                <img src="assets/img/forms/lock.svg" class="password-icon">
                            } @else {
                                <img [src]="showPassword ? 'assets/img/forms/visibility.svg' : 'assets/img/forms/visibility-off.svg'" class="password-icon" (click)="togglePasswordVisibility()">
                            }
                            <div class="form-error-placeholder">
                                @if (signUpForm.controls.password.hasError('required') && signUpForm.controls.password.touched) {
                                    <p class="form-error">Password is required.</p>
                                } @else if (signUpForm.controls.password.hasError('minlength') && signUpForm.controls.password.touched) {
                                    <p class="form-error">Password must be at least 6 characters.</p>
                                }
                            </div>
                        </div>

                        <div class="form-cell">
                            <input formControlName="confirmedPassword" [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm Password" [class.signup-error]="(signUpForm.controls.confirmedPassword.invalid || signUpForm.controls.confirmedPassword.hasError('mismatch')) && signUpForm.controls.confirmedPassword.touched">
                            @if (!signUpForm.controls.confirmedPassword.value) {
                                <img src="assets/img/forms/lock.svg" class="password-icon">
                            } @else {
                                <img [src]="showConfirmPassword ? 'assets/img/forms/visibility.svg' : 'assets/img/forms/visibility-off.svg'" class="password-icon" (click)="toggleConfirmPasswordVisibility()">
                            }
                            <div class="form-error-placeholder">
                                @if (signUpForm.controls.confirmedPassword.hasError('mismatch') && signUpForm.controls.confirmedPassword.touched) {
                                    <p class="form-error">Your passwords don't match. Please try again.</p>
                                } @else if (signUpForm.controls.confirmedPassword.hasError('required') && signUpForm.controls.confirmedPassword.touched) {
                                    <p class="form-error">Password confirmation is required.</p>
                                } @else if (signUpForm.controls.confirmedPassword.hasError('minlength') && signUpForm.controls.confirmedPassword.touched) {
                                    <p class="form-error">Password must be at least 6 characters.</p>
                                }
                            </div>
                        </div>

                        <div class="global-error-container">
                            @if (errorMessage) {
                                <p class="global-error">{{ errorMessage }}</p>
                            }
                        </div>

                        <div class="checkbox-group">
                            <label class="custom-checkbox">
                                <input type="checkbox" formControlName="privacyPolicy">
                                <img src="assets/img/components/general/checked-empty.svg" class="cb-empty">
                                <img src="assets/img/components/general/checked-empty-hover.svg" class="cb-empty-hover">
                                <img src="assets/img/components/general/checked.svg" class="cb-checked">
                                <img src="assets/img/components/general/checked-hover.svg" class="cb-checked-hover">
                            </label>
                            <span class="checkbox-label-text">I accept the <a routerLink="/privacy-policy" class="link">Privacy policy</a></span>
                        </div>

                        <div class="wrapper-signup-buttons">
                            <div class="signup-buttons">
                                <button class="btn-primary btn-primary--signup" type="submit" [disabled]="signUpForm.invalid || isSubmitting">
                                    Sign up
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
            </section>
        </main>
        
        <section class="wrapper-footer-signup">
            <div class="footer-login-link">
                <div class="signup-login-text">Already a user?</div>
                <div class="signup-login-button">
                    <button class="btn-primary btn-primary--login" type="button" routerLink="/login">Log in</button>
                </div>
            </div>
            <div class="signup-legal">
                <div class="signup-policy">
                    <a routerLink="/privacy-policy"><span data-text="Privacy Policy">Privacy Policy</span></a>
                </div>
                <div class="signup-legal-notice">
                    <a routerLink="/legal-notice"><span data-text="Legal notice">Legal notice</span></a>
                </div>
            </div>
        </section>
    </div>
</section>

@if (showSuccessPopup) {
    <div class="popup-overlay">
        <div class="success-popup">
            You Signed Up successfully
        </div>
    </div>
}