@use '../abstract/' as *;
@use "sass:color";

.assigned-to__list {
    width: 422px;
    max-height: 250px;
    overflow-y: auto;

    background: white;
    border: 1px solid $grey-form-color;
    border-radius: 10px;

    box-shadow: 0 8px 24px rgba(0, 0, 0, .15);


    @include tablet {
        width: 100%;
    }

    @include mobile {
        width: 100%;
    }

    @include small-mobile {
        width: calc(100% - 24px);
    }

    @include desktop-s {}

}

.assigned-to__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 16px;
    border-radius: 10px;


    &:hover {
        background: $grey-dropdown;
    }

    &--selected {
        background: $blue-color;
        color: $white;

        &:hover {
            background: $dark-blue-color;
        }
    }

}

.assigned-to__item-name {
    padding-left: 12px;
    font-size: 20px;
    word-break: break-all;

    @include small-mobile {
        font-size: 18px;
    }
}

.dropdown-bubble-name {
    display: flex;
    align-items: center;
}

.assigned-to__bubbles {
    padding-top: 12px;
    display: flex;
    gap: 10px;
    min-height: 55px;
}

.assigned-to__field {
    position: relative;
    width: 100%;
}

.assigned-scroll {
    flex: 1;
    min-height: 0;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    max-height: 160px;
    margin-bottom: 20px;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: $white;
    }

    &::-webkit-scrollbar-thumb {
        background: $dark-grey-color;
        border-radius: 6px;
        border: 4px solid $white;
        background-clip: content-box;
    }

    &::-webkit-scrollbar-thumb:hover {
         background: color.scale($dark-grey-color, $lightness: -10%);
    }

}