@use '../abstract/' as *;

.summary-wrapper {
    padding: 48px;

    @include tablet {
        padding: 16px;
    }

    @include mobile {
        padding: 8px;
    }
}

.summary-metrics {
    display: flex;
    justify-content: space-between;
}

.summary-metrics-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    width: 45%;
}

.summary-greetings-wrapper {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;

    @include mobile-tablet {
        display: none;
    }
}

.summary-metrics-firstLine {
    display: flex;
    gap: 32px;
    padding-top: 32px;
}

.summary-metrics-secondLine {
    display: flex;
    gap: 32px;
}

.summary-metrics-thirdLine {
    display: flex;
    gap: 32px;
}

.summary-headline {
    display: flex;
    align-items: center;
    gap: 30px;
    min-height: 73px;

    @include mobile {
        flex-direction: column;
        align-items: flex-start;
    }
}

.summary-title {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 61px;
    font-weight: 700;
    line-height: 120%;
    color: #000000;

    @include desktop-s {
        font-size: 48px;
    }

    @include mobile-tablet {
        font-size: 36px;
    }
}

.summary-separator {
    width: 0;
    height: 59px;
    border-left: 3px solid $ligth-blue-color;
    flex-shrink: 0;

    @include mobile {
        transform: rotate(90deg);
        order: 3;
        padding-left: 8px;
    }
}

.summary-subtitle {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 120%;
    color: $blue-color;
    white-space: nowrap;

    @include desktop-s {
        font-size: 22px;
        white-space: normal;
    }

}

.summary-metrics-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.1;

    span {
        font-size: 20px;
        font-weight: 400;
    }
}

.summary-metrics-badges {
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
    padding: 38px 58px;
    font-size: 64px;
    font-weight: 600;
    cursor: pointer;
    color: $black;
    display: flex;
    justify-content: center;
    width: 100%;

    &:hover {
        background-color: $blue-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: $white;
    }

    &--third {
        padding: 25px;
    }
}

.summary-urgent-stroke {
    background: $grey-form-color;
    width: 2px;
    height: 100%;
}

.summary-metrics-badges:hover .summary-urgent-stroke {
    background: $white;
}

.summary-metrics-badges:hover .summary-metrics-toDo-icon img {
    content: url('/assets/img/components/summary/summary-edit-white.svg');
}

.summary-metrics-badges:hover .summary-metrics-doneTasks-icon img {
    content: url('/assets/img/components/summary/summary-check-white.svg');
}


.summary-metrics-toDo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.summary-metrics-done {
    display: flex;
    align-items: center;
    gap: 16px;
}

.summary-badge-number {
    font-size: 64px;
    font-weight: 600;
    padding-bottom: 8px;
}

.summary-metrics-thirdLine-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        max-width: 50%;
    }
}

.summary-urgent-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary-urgent-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 33%;
}

.summary-urgent-date {
    font-size: 21px;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 16px;
}

.summary-urgent-text {
    font-size: 16px;
    font-weight: 400;
}

.summary-urgent-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.greeting-headline {
    font-size: 47px;
    font-weight: 500;
    line-height: 120%;
}

.greeting-name {
    font-size: 64px;
    font-weight: 700;
    line-height: 120%;
    color: $header-avatar;
}